VITE_API_URL=http://localhost:8080/api #prod: prefered to use https:// as default (if possible...if not - use it with VITE_USE_PROTOCOL_CHECKER=true)
VITE_WS_API_URL=ws://localhost:8080/api/graphql #prod: prefered to use wss:// as default (if possible...if not - use it with VITE_USE_PROTOCOL_CHECKER=true)
VITE_IS_DEV=true # true - development, false - production
VITE_PASSWORD_RESET_CHANGE_SECRET= # string
VITE_USE_PROTOCOL_CHECKER= # true/false
VITE_DEFAULT_IMAGE_PROCESSING_MODEL_ID=google/nano-banana-2/edit # string // --- model id e.g. google/nano-banana-2/edit
VITE_DEFAULT_TEXT_PROCESSING_MODEL_ID= # string // --- model id e.g. google/nano-banana-2/edit
VITE_DEFAULT_VIDEO_PROCESSING_MODEL_ID= # string // --- model id e.g. google/nano-banana-2/edit