.mainPage__heroScreen {
    width: 100%;
    min-height: 400px;
    height: 60vh;
    padding: 44px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    align-items: center;
}

.mainPage__heroTitleWrapper {
    width: 100%;
    max-width: 697px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.mainPage__cardsBlock {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}