.aiChatPage {
    flex: 1 1 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    padding-bottom: 24px;
}

.page__inputWrapper {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
}

.aiChatPage__messages {
    width: 100%;
    max-width: 800px;
    flex: 1 1 auto;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
}

.aiChatPage__messages::before {
    content: '';
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: linear-gradient(to bottom,  var(--color-bg-page) 0%, transparent 30%);
}

.page__inputDescription {
    color: var(--color-text-muted);
    text-align: center;
    margin: 0 auto;
    flex: 0 0 auto;
}

.page__inputDescription span {
    color: var(--color-text-primary);
    cursor: pointer;
}




/* DEV INFO */
.devInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.page__popoverContent {
    width: 145px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.page__popoverItem {
    display: flex;
    align-items: center;
    gap: 4px;
}

.page__popoverItem span {
    color: var(--color-text-muted);
    margin-left: auto;
}